/* Strucutre */
body {
    font-family:Arial, Helvetica, sans-serif;
}
#main-header {
    margin:auto;
    width: 80%;
    background-color:burlywood;
    padding:5px;

}
#main-footer {
    background-color: maroon;
    width: 80%;
    margin:auto;
    padding: 5px;
}
/* Horizontal navigation */
.horizontal-nav ul {
    padding-left: 0px;

}
.horizontal-nav li {
    list-style-type: none;
    margin: 5px;
}
.horizontal-nav a {
    text-decoration: none;
}

/*Main Navigation */
#main-nav {
    
}


/*Typography */
h1 {
    text-align: center;
}
#main-footer,#main-footer a {
    color:white;
}
.footer-logo-text {
    font-size: 1.5em;
}
#main-footer ul {
    padding-left: 1%;
}
#main-footer li {
    list-style-type: none;
}
#main-footer a {
    text-decoration: none;
}

/* Larger Resolution */

@media only screen and (min-width: 768px) {
    .horizontal-nav ul,
    .flex-container {    
        display: flex;
}
    #main-nav ul{
        justify-content: center;
    }

    #user-nav ul {
        justify-content: space-between;
    }
    /*
    #user-nav {
        position: absolute;
        right: 10%;
        top: 2%
    }
*/
.flex-container {
    justify-content: space-between;
}

.col10f2 {
    flex:1;
}
}