body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #main-menu {
    background-color: #595a5c;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  #main-menu ul {
    float: right;
    overflow: hidden;
    margin-right: 2%;
  }
  
  #main-menu li {
    list-style-type: none;
    display: inline-block;
  }
  
  #main-menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  form {
    margin: 0 2%;
  }
  
  form label {
    font-size: 0.75em;
    display: block;
  }
  
  form input:not([type="checkbox"]):not([type="radio"]),
  form textarea,
  form button,
  select {
    font-size: 0.75em;
    width: 200px;
    padding: 5px;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 20px;
    padding: 5px;
    width: 20px;
    height: 20px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
  
  .inline {
    display: inline;
  }
  
  form textarea {
    min-height: 200px;
  }
  
  h4 {
    font-size: 1em;
    font-weight: 100;
  }
  
  .hidden {
    display: none;
  }
