

.main2 {
    background-color:darkred;
    padding:50px;
}

.main3 {
    background-color: lightcoral;
    padding:300px;
}

.horizontal-nav ul {
    padding-right: 0px;

}
.horizontal-nav li {
    list-style-type: none;
    margin: 5px;


}
.horizontal-nav a {
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .horizontal-nav ul,
    .flex-container {    
        display: flex;
}
    #main-nav ul{
        justify-content: right;
    }

    #user-nav ul {
        justify-content: space-between;
    }

}
.main-head {
    background-color:black;
    color:white;
    padding:1px;

}
a {
    color:white;
}


#main-footer,#main-footer a {
    color:white;
}
.footer-logo-text {
    font-size: 1.5em;
}
#main-footer ul {
    padding-left: 1%;
}
#main-footer li {
    list-style-type: none;
}
#main-footer a {
    text-decoration: none;
}
#main-footer {
    background-color: maroon;
    margin:auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}


#search-input {
    margin-left: 10px; 
}
#main-nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    height: 50px; 
}

.main1 {
    text-align: center; 
    background-color: #333; 
    padding: 10px 0; 
}

#second-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
}

#second-nav ul li {
    margin-right: 20px;
}

#second-nav ul li:last-child {
    margin-right: 0; 
}

#second-nav ul li a {
    text-decoration: none;
    color: white; 
    font-weight: bold; 

}
.col1of2 {
    width: 48%; 
    padding: 20px; 
    box-sizing: border-box; 

    margin-right: 2%; 
}col1of2 img {
    max-width: 100%;
    height: auto;
}

.col1of2 h3 {
    font-weight: bold;
}

.col1of2 hr {
    margin: 10px 0;
}

.col1of2 .flex-container ul {
    list-style: none;
    padding: 0;
}

.col1of2 .flex-container ul li {
    margin-bottom: 5px;
}

.col1of2 .flex-container ul li a {
    text-decoration: none;
    color: #333;
}
#navbar1 {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
 }​
.footer-logo-text {

 }
    
    #main-footer1 {
        background-color: maroon;
        margin:left;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }


#main-footer1 {
    background-color: maroon;
    margin:left;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
li {
    padding:10px;
}
#navbar {

    position: fixed;
    top: 0px;
    width: 100%;
}