/* Structure */
body {
    background-color: turquoise;

}

/* Tables */

table {
    border-collapse: collapse;
}

td,
th {
    border:3px dotted darkgreen;
}
th {
    background-color:darksalmon;
}
td {

    background-color:mediumspringgreen;
}


/* Typography */

body {
    font-family:Arial, Helvetica, sans-serif;
}

p {
    color: blueviolet;
}

h1 {
    color:red;
}