td, th, 
table {
    border-collapse: collapse;
    background-color: darkgreen;
    border:4px solid black;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:url(plaing.jpg);
}